@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #252526;
    background-size: 800px, auto;
    font-family: 'raleway', sans-serif;
    margin: 0;
        
}

#menubar {
    background-color: #5f6266;
    width: 100%;
    border-bottom: 1px dashed #f6f6f6;
    font-weight: bold;
    text-align: right;
    word-spacing: 2em;
    padding-right: 10px;
    position: fixed;
    text-decoration: none;
}

.logo {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.logo img {
    width: 80pxpx;
    height: 80px;
    
}

#qotsa {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 20px;
    
}

#qotsa img {  
    grid-column: 2/3;
    width: 1000px;
    height: 600px;
    padding: 50px;
    margin-top: 100px;
}
